flows.json
[{"id":"d87829ed.18ddb8","type":"tab","label":"Home Automation","disabled":false,"info":""},{"id":"59580a28.4a5194","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"d8a4e09463af420086a6860f11c9b7eb"},{"id":"809d18ac.977e18","type":"lgtv-config","z":"","host":"lgwebostv"},{"id":"3f434090.c205","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Doorbell pressed","server":"59580a28.4a5194","entityidfilter":"binary_sensor.ring_front_door_ding","entityidfiltertype":"substring","haltifstate":"off","x":140,"y":120,"wires":[["3f9ec9ee.b1c876","ed92a523.615bf8"]]},{"id":"e1499507.7c6438","type":"api-call-service","z":"d87829ed.18ddb8","name":"Play sound","server":"59580a28.4a5194","service_domain":"script","service":"doorbell_sound","data":"","mergecontext":"","x":490,"y":120,"wires":[["dcad568c.446338"]]},{"id":"dcad568c.446338","type":"stoptimer","z":"d87829ed.18ddb8","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":680,"y":120,"wires":[["ef96009e.253e1"],[]]},{"id":"ef96009e.253e1","type":"api-call-service","z":"d87829ed.18ddb8","name":"Restore Music","server":"59580a28.4a5194","service_domain":"script","service":"sonos_restore","data":"","mergecontext":"","x":880,"y":120,"wires":[[]]},{"id":"e1f83b6f.670c48","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["e1499507.7c6438"]]},{"id":"acf7a1e4.be2ce","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Pollen Level Notification","server":"59580a28.4a5194","entityidfilter":"sensor.pollen_level","entityidfiltertype":"substring","haltifstate":"","x":110,"y":260,"wires":[["d8a1a9ca.cfa4a8"]]},{"id":"d8a1a9ca.cfa4a8","type":"api-call-service","z":"d87829ed.18ddb8","name":"Notify Aaron","server":"59580a28.4a5194","service_domain":"notify","service":"ios_aarons_iphone","data":"{\"title\": \"Todays Pollen Level\", \"message\": \"{{states.sensor.pollen_level.state}}\"}","mergecontext":"","x":690,"y":260,"wires":[[]]},{"id":"ce48224b.f4224","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["bf189093.a0e33"]]},{"id":"cb1e46dc.a6c3c8","type":"server-events","z":"d87829ed.18ddb8","name":"remote","server":"59580a28.4a5194","x":130,"y":400,"wires":[["5bc71261.cf52ac"]]},{"id":"5bc71261.cf52ac","type":"function","z":"d87829ed.18ddb8","name":"Check event","func":"if(msg.event_type !== \"deconz_event\" && msg.payload.event.id !== \"dimmer_switch\"){\n    return;\n}\nvar eventId = msg.payload.event.event;\n\nreturn { \"evt\": eventId };","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["abbe5103.08f08"]]},{"id":"a38ba744.221868","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights full","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"rgb_color\" : [255,255,255], \"brightness\": 254, \"transition\": 1 }","mergecontext":"","x":630,"y":380,"wires":[[]]},{"id":"d4cc5ee8.5f45c","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom sidelights","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.main_bedroom_sidelights\", \"rgb_color\" : [255,188,85], \"brightness\": 254, \"transition\": 1 }","mergecontext":"","x":850,"y":420,"wires":[[]]},{"id":"abbe5103.08f08","type":"switch","z":"d87829ed.18ddb8","name":"","property":"evt","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"4002","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":400,"wires":[["a38ba744.221868"],["64a11859.ad1618"],["92e19c4a.ccd1e"]]},{"id":"92e19c4a.ccd1e","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights off","server":"59580a28.4a5194","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"transition\": 1 }","mergecontext":"","x":630,"y":460,"wires":[[]]},{"id":"a08b4cc8.ee3c1","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights off","server":"59580a28.4a5194","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.hue_color_lamp_1\", \"transition\": 1 }","mergecontext":"","x":630,"y":420,"wires":[["d4cc5ee8.5f45c"]]},{"id":"3f9ec9ee.b1c876","type":"api-call-service","z":"d87829ed.18ddb8","name":"Snapshot Music","server":"59580a28.4a5194","service_domain":"script","service":"sonos_snapshot","data":"","mergecontext":"","x":320,"y":120,"wires":[["e1499507.7c6438"]]},{"id":"bf189093.a0e33","type":"bigtimer","z":"d87829ed.18ddb8","outtopic":"","outpayload1":"on","outpayload2":"","name":"Big Timer","lat":"52.948030","lon":"-1.14324","starttime":"480","endtime":"10001","startoff":"0","endoff":0,"offs":0,"outtext1":"on","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":false,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":false,"dec":false,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":320,"y":340,"wires":[["d8a1a9ca.cfa4a8"],[],[]]},{"id":"64a11859.ad1618","type":"api-call-service","z":"d87829ed.18ddb8","name":"Sidelights Scene","server":"59580a28.4a5194","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.bedroom_sidelights\" }","mergecontext":"","x":660,"y":520,"wires":[[]]},{"id":"a4f6761a.808a88","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":540,"wires":[[]]},{"id":"7082ba75.de5644","type":"lgtv-toast","z":"d87829ed.18ddb8","tv":"809d18ac.977e18","name":"","x":570,"y":180,"wires":[]},{"id":"ed92a523.615bf8","type":"change","z":"d87829ed.18ddb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"There is someone at the door.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["7082ba75.de5644"]]}]