flows.json
[{"id":"d87829ed.18ddb8","type":"tab","label":"Home Automation","disabled":false,"info":""},{"id":"dd6750aa.f06b1","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"7a228787.4f9188","type":"tab","label":"Weather notifications","disabled":false,"info":""},{"id":"59580a28.4a5194","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"d8a4e09463af420086a6860f11c9b7eb"},{"id":"809d18ac.977e18","type":"lgtv-config","z":"","host":"lgwebostv"},{"id":"3f434090.c205","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Doorbell pressed","server":"59580a28.4a5194","entityidfilter":"binary_sensor.ring_front_door_ding","entityidfiltertype":"substring","haltifstate":"off","x":140,"y":120,"wires":[["3f9ec9ee.b1c876","ed92a523.615bf8"]]},{"id":"e1499507.7c6438","type":"api-call-service","z":"d87829ed.18ddb8","name":"Play sound","server":"59580a28.4a5194","service_domain":"script","service":"doorbell_sound","data":"","mergecontext":"","x":490,"y":120,"wires":[["dcad568c.446338"]]},{"id":"dcad568c.446338","type":"stoptimer","z":"d87829ed.18ddb8","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":680,"y":120,"wires":[["ef96009e.253e1"],[]]},{"id":"ef96009e.253e1","type":"api-call-service","z":"d87829ed.18ddb8","name":"Restore Music","server":"59580a28.4a5194","service_domain":"script","service":"sonos_restore","data":"","mergecontext":"","x":880,"y":120,"wires":[[]]},{"id":"e1f83b6f.670c48","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["e1499507.7c6438"]]},{"id":"acf7a1e4.be2ce","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Pollen Level Notification","server":"59580a28.4a5194","entityidfilter":"sensor.pollen_level","entityidfiltertype":"substring","haltifstate":"","x":110,"y":260,"wires":[["d8a1a9ca.cfa4a8"]]},{"id":"d8a1a9ca.cfa4a8","type":"api-call-service","z":"d87829ed.18ddb8","name":"Notify Aaron","server":"59580a28.4a5194","service_domain":"notify","service":"ios_aarons_iphone","data":"{\"title\": \"Todays Pollen Level\", \"message\": \"{{states.sensor.pollen_level.state}}\"}","mergecontext":"","x":690,"y":260,"wires":[[]]},{"id":"ce48224b.f4224","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["bf189093.a0e33"]]},{"id":"cb1e46dc.a6c3c8","type":"server-events","z":"d87829ed.18ddb8","name":"remote","server":"59580a28.4a5194","x":50,"y":400,"wires":[["5533ce5c.d636a"]]},{"id":"5bc71261.cf52ac","type":"function","z":"d87829ed.18ddb8","name":"Check event","func":"if(msg.event_type !== \"deconz_event\" && msg.payload.event.id !== \"dimmer_switch\"){\n    return;\n}\nvar eventId = msg.payload.event.event;\n\nreturn { \"evt\": eventId };","outputs":1,"noerr":0,"x":309,"y":400,"wires":[["abbe5103.08f08","43baa109.cad0f"]]},{"id":"a38ba744.221868","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights full","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"rgb_color\" : [255,255,255], \"brightness\": 254, \"transition\": 1 }","mergecontext":"","x":630,"y":380,"wires":[[]]},{"id":"d4cc5ee8.5f45c","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom sidelights","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.main_bedroom_sidelights\", \"rgb_color\" : [255,188,85], \"brightness\": 254, \"transition\": 1 }","mergecontext":"","x":850,"y":420,"wires":[[]]},{"id":"abbe5103.08f08","type":"switch","z":"d87829ed.18ddb8","name":"","property":"evt","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"4002","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":400,"wires":[["a38ba744.221868"],["64a11859.ad1618"],["92e19c4a.ccd1e"]]},{"id":"92e19c4a.ccd1e","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights off","server":"59580a28.4a5194","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"transition\": 1 }","mergecontext":"","x":630,"y":460,"wires":[[]]},{"id":"a08b4cc8.ee3c1","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights off","server":"59580a28.4a5194","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.hue_color_lamp_1\", \"transition\": 1 }","mergecontext":"","x":630,"y":420,"wires":[["d4cc5ee8.5f45c"]]},{"id":"3f9ec9ee.b1c876","type":"api-call-service","z":"d87829ed.18ddb8","name":"Snapshot Music","server":"59580a28.4a5194","service_domain":"script","service":"sonos_snapshot","data":"","mergecontext":"","x":320,"y":120,"wires":[["e1499507.7c6438"]]},{"id":"bf189093.a0e33","type":"bigtimer","z":"d87829ed.18ddb8","outtopic":"","outpayload1":"on","outpayload2":"","name":"Big Timer","lat":"52.948030","lon":"-1.14324","starttime":"480","endtime":"10001","startoff":"0","endoff":0,"offs":0,"outtext1":"on","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":false,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":false,"dec":false,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":320,"y":340,"wires":[["d8a1a9ca.cfa4a8","b5a7d9d8.78c6e8"],[],[]]},{"id":"64a11859.ad1618","type":"api-call-service","z":"d87829ed.18ddb8","name":"Sidelights Scene","server":"59580a28.4a5194","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.bedroom_sidelights\" }","mergecontext":"","x":660,"y":520,"wires":[[]]},{"id":"a4f6761a.808a88","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":660,"wires":[["cd9a0208.910e1"]]},{"id":"7082ba75.de5644","type":"lgtv-toast","z":"d87829ed.18ddb8","tv":"809d18ac.977e18","name":"","x":570,"y":180,"wires":[]},{"id":"ed92a523.615bf8","type":"change","z":"d87829ed.18ddb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"There is someone at the door.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["7082ba75.de5644"]]},{"id":"985df8aa.ae7938","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Bedtime","server":"59580a28.4a5194","entityidfilter":"media_player.livingroom_tv","entityidfiltertype":"substring","haltifstate":"","x":80,"y":960,"wires":[[]]},{"id":"f5772da5.75dfa","type":"switch","z":"d87829ed.18ddb8","name":"Tv is Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":960,"wires":[["f6f00eed.174d1"]]},{"id":"9f051e8f.0715d","type":"api-call-service","z":"d87829ed.18ddb8","name":"Turn off Living room lights","server":"59580a28.4a5194","service_domain":"homeassistant","service":"turn_off","data":"{ \"entity_id\": \"group.living_room_lights\" }","mergecontext":"","x":680,"y":960,"wires":[[]]},{"id":"f6f00eed.174d1","type":"stoptimer","z":"d87829ed.18ddb8","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":440,"y":960,"wires":[["9f051e8f.0715d"],[]]},{"id":"5533ce5c.d636a","type":"switch","z":"d87829ed.18ddb8","name":"","property":"event_type","propertyType":"msg","rules":[{"t":"eq","v":"deconz_event","vt":"str"},{"t":"eq","v":"alarm_trigger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":400,"wires":[["5bc71261.cf52ac"],["cd9a0208.910e1"]]},{"id":"9c98b652.f0cab8","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Alarm state","server":"59580a28.4a5194","entityidfilter":"alarm_control_panel.home","entityidfiltertype":"substring","haltifstate":"","x":100,"y":820,"wires":[["ff5637cc.091928"]]},{"id":"ff5637cc.091928","type":"switch","z":"d87829ed.18ddb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":820,"wires":[["b32bd5e9.411d78","96b334fe.2d7748","143b293b.037367","fe530030.54394"]]},{"id":"75016fb6.adeee","type":"api-call-service","z":"d87829ed.18ddb8","name":"Snapshot Music","server":"59580a28.4a5194","service_domain":"script","service":"sonos_snapshot","data":"","mergecontext":"","x":260,"y":620,"wires":[["cd9a0208.910e1"]]},{"id":"b32bd5e9.411d78","type":"api-call-service","z":"d87829ed.18ddb8","name":"Restore Music","server":"59580a28.4a5194","service_domain":"script","service":"sonos_restore","data":"","mergecontext":"","x":430,"y":820,"wires":[[]]},{"id":"2ecc8f38.63bcc","type":"api-call-service","z":"d87829ed.18ddb8","name":"Play sound","server":"59580a28.4a5194","service_domain":"script","service":"alarm_sound","data":"","mergecontext":"","x":730,"y":560,"wires":[[]]},{"id":"3f506a6a.d9cbc6","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom Red lights full","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"rgb_color\" : [255,0,0], \"brightness\": 254, \"transition\": 2 }","mergecontext":"","x":770,"y":680,"wires":[["e0bcb382.fc23a"]]},{"id":"417f5af9.7e29f4","type":"api-call-service","z":"d87829ed.18ddb8","name":"living room Red lights full","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.living_room_lights\", \"rgb_color\" : [255,0,0], \"brightness\": 254, \"transition\": 2 }","mergecontext":"","x":770,"y":620,"wires":[["39236d8d.29c372"]]},{"id":"39236d8d.29c372","type":"stoptimer","z":"d87829ed.18ddb8","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":980,"y":620,"wires":[[],["96c2dbc0.4f2048"]]},{"id":"96c2dbc0.4f2048","type":"api-call-service","z":"d87829ed.18ddb8","name":"living room Red lights min","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.living_room_lights\", \"rgb_color\" : [255,0,0], \"brightness\": 50, \"transition\": 2 }","mergecontext":"","x":1230,"y":620,"wires":[[]]},{"id":"cd9a0208.910e1","type":"looptimer","z":"d87829ed.18ddb8","duration":"4","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":520,"y":620,"wires":[["417f5af9.7e29f4","3f506a6a.d9cbc6","2ecc8f38.63bcc"],[]]},{"id":"60203461.0ca5ac","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["cd9a0208.910e1"]]},{"id":"96b334fe.2d7748","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom lights off","server":"59580a28.4a5194","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"transition\": 1 }","mergecontext":"","x":450,"y":860,"wires":[[]]},{"id":"143b293b.037367","type":"api-call-service","z":"d87829ed.18ddb8","name":"Turn off Living room lights","server":"59580a28.4a5194","service_domain":"homeassistant","service":"turn_off","data":"{ \"entity_id\": \"group.living_room_lights\" }","mergecontext":"","x":470,"y":900,"wires":[[]]},{"id":"e0bcb382.fc23a","type":"stoptimer","z":"d87829ed.18ddb8","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":980,"y":680,"wires":[[],["592066e.6383e98"]]},{"id":"592066e.6383e98","type":"api-call-service","z":"d87829ed.18ddb8","name":"Bedroom Red lights full","server":"59580a28.4a5194","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"group.main_bedroom_lights\", \"rgb_color\" : [255,0,0], \"brightness\": 50, \"transition\": 2 }","mergecontext":"","x":1230,"y":680,"wires":[[]]},{"id":"fe530030.54394","type":"change","z":"d87829ed.18ddb8","name":"stop lights","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["cd9a0208.910e1"]]},{"id":"78dddbfa.6c11e4","type":"inject","z":"d87829ed.18ddb8","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["75016fb6.adeee"]]},{"id":"683d0ed7.a785d","type":"server-state-changed","z":"d87829ed.18ddb8","name":"Bedroom humidity","server":"59580a28.4a5194","entityidfilter":"sensor.humidity_10","entityidfiltertype":"substring","haltifstate":"","x":110,"y":1080,"wires":[["7626bc10.39fcbc"]]},{"id":"2f5e3f1a.736c5","type":"switch","z":"d87829ed.18ddb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"55","vt":"str"},{"t":"lte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1060,"wires":[["8f0c849f.959118"],["112b9d80.c702e3"]]},{"id":"8f0c849f.959118","type":"api-call-service","z":"d87829ed.18ddb8","name":"Dehumidifer on","server":"59580a28.4a5194","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.dehumidifier\" }","mergecontext":"","x":920,"y":1040,"wires":[[]]},{"id":"112b9d80.c702e3","type":"api-call-service","z":"d87829ed.18ddb8","name":"Dehumidifer off","server":"59580a28.4a5194","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.dehumidifier\" }","mergecontext":"","x":921,"y":1080,"wires":[[]]},{"id":"5c865e8d.d591c","type":"time-range-switch","z":"d87829ed.18ddb8","name":"","lat":"52.91559","lon":"-1.23801","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":510,"y":1060,"wires":[["2f5e3f1a.736c5"],[]]},{"id":"b5a7d9d8.78c6e8","type":"link out","z":"d87829ed.18ddb8","name":"","links":["6e087ceb.36ba04"],"x":515,"y":320,"wires":[]},{"id":"86dda231.66fc8","type":"api-call-service","z":"7a228787.4f9188","name":"Notify Aaron about weather","server":"59580a28.4a5194","service_domain":"notify","service":"ios_aarons_iphone","data":"","mergecontext":"","x":820,"y":40,"wires":[[]]},{"id":"6e087ceb.36ba04","type":"link in","z":"7a228787.4f9188","name":"","links":["b5a7d9d8.78c6e8"],"x":195,"y":60,"wires":[["1f860794.c31988"]]},{"id":"1f860794.c31988","type":"api-current-state","z":"7a228787.4f9188","name":"Get weather","server":"59580a28.4a5194","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"weather.dark_sky","x":330,"y":60,"wires":[["d6363a79.71ec78"]]},{"id":"31eb6ac1.b871c6","type":"inject","z":"7a228787.4f9188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["1f860794.c31988"]]},{"id":"d6363a79.71ec78","type":"function","z":"7a228787.4f9188","name":"Proccess Weather","func":"var _WEATHER_TO_TEXT = {\n    'clear-night': 'clear',\n    'cloudy': 'cloudy',\n    'fog': 'foggy',\n    'hail': 'hailing',\n    'lightning': 'lightning',\n    'lightning-rainy': 'lightning with rain',\n    'partlycloudy': 'partly cloudy',\n    'pouring': 'pouring with rain',\n    'rainy': 'rainy',\n    'snowy': 'snowy',\n    'snowy-rainy': 'sleet',\n    'sunny': 'sunny',\n    'windy': 'windy',\n    'windy-variant': 'windy and overcast',\n    'exceptional': '!!',\n};\n\nvar rainy = [\n    'pouring',\n    'rainy',\n    'snowy',\n    'snowy-rainy',\n    'hail',\n    'lightning-rainy'\n];\nif(rainy.indexOf(msg.payload) !== -1){\n    msg.payload = {};\n    msg.payload.data = {\n        \"title\": \"Bad weather ahead\",\n        \"message\": `Remember your umbrella ☔️, it'll be ${_WEATHER_TO_TEXT[msg.data.state]} with {{states('sensor.dark_sky_precip_probability')}} % chance of rain`\n        \n    }\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["86dda231.66fc8","1d216920.c5ef57","67819bfc.0f3b94"]]},{"id":"1d216920.c5ef57","type":"api-call-service","z":"7a228787.4f9188","name":"Notify Sophie about weather","server":"59580a28.4a5194","service_domain":"notify","service":"ios_sophies_iphone","data":"{\"title\": \"Bad weather ahead\", \"message\": \"Remember your umbrella ☔️, it'll be {{states('weather.dark_sky')}} with {{states('sensor.dark_sky_precip_probability')}} % chance of rain\"}","mergecontext":"","x":820,"y":80,"wires":[[]]},{"id":"67819bfc.0f3b94","type":"debug","z":"7a228787.4f9188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":180,"wires":[]},{"id":"43baa109.cad0f","type":"debug","z":"d87829ed.18ddb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":380,"y":500,"wires":[]},{"id":"56399b68.439af4","type":"bigtimer","z":"d87829ed.18ddb8","outtopic":"","outpayload1":"on","outpayload2":"","name":"Off at 22:00","lat":"52.91556","lon":"-1.23799","starttime":"1320","endtime":"10001","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":490,"y":1180,"wires":[["112b9d80.c702e3"],[],[]]},{"id":"7626bc10.39fcbc","type":"weekday","z":"d87829ed.18ddb8","name":"Weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":310,"y":1080,"wires":[["5c865e8d.d591c"],["f14a5621.418f78"]]},{"id":"f14a5621.418f78","type":"time-range-switch","z":"d87829ed.18ddb8","name":"","lat":"52.91559","lon":"-1.23801","startTime":"10:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":510,"y":1120,"wires":[["2f5e3f1a.736c5"],[]]}]